<div class="container">
  {% for post in site.categories.cv %}
  <div class="timeline-row row clearfix">
    <div class="timeline">
      <div class="clearfix">
        <div class="timeline-icon"><i title="Sector: {{ post.sector }}" class="fas fa-fw fa-{{ post.icon }}"></i></div>
        <h5 class="title mb-0">{{ post.title }}</h5>
        <div class="company d-flex">
          <small class="text-muted">{{ post.company }}</small>
          <small class="year text-nowrap text-muted">
            {% assign fromDate = post.date | date: '%Y' %}
            {% assign toDate = post.to | date: '%Y' %}
            {% if fromDate > '2015' %}
              {{ post.date | date: "%b %Y" }}
            {% else %}
              {{ fromDate }}
            {% endif %}
            {% if toDate > '2015' %}
              - {{ post.to | date: "%b %Y" }}
            {% else %}
              - {{ toDate }}
            {% endif %}
          </small>
        </div>
      </div>
      <div class="description text-justify mt-1">
        {{ post.excerpt }}
      </div>
    </div>
  </div>
  {% endfor %}
</div>