.timeline-row {
  position: relative;

  .timeline {
    width: calc(50% - 0.5rem);
  }

  .title {
    border-bottom: 0.1875rem solid;
  }

  &:nth-child(even) .title {
    text-align: left;
    padding: 0 0.25rem 0 1.5rem;
  }

  &:nth-child(odd) .title {
    text-align: right;
    padding: 0 1.5rem 0 0.25rem;
  }

  &:nth-child(even) .company {
    flex-direction: row-reverse;
    padding: 0 0.25rem 0 1.5rem;

    .year {
      margin-right: auto;
      padding-right: 0.25rem;
    }
  }

  &:nth-child(odd) .company {
    flex-direction: row;
    padding: 0 1.5rem 0 0.25rem;

    .year {
      margin-left: auto;
      padding-left: 0.25rem;
    }
  }

  &:nth-child(even) .description {
    padding: 0 0.25rem 0 1.5rem;
  }

  &:nth-child(odd) .description {
    padding: 0 1.5rem 0 0.25rem;
  }

  .timeline-icon {
    right: calc(50% - 1.5rem);
    position: absolute;
    background-color: lighten(#1c9246, 20%);
    border: 0.3125rem solid #1c9246;
    border-radius: 50%;
    width: 3rem;
    height: 3em;

    i {
      background-color: #fff;
      border-radius: 50%;
      width: 2.125rem;
      height: 2.125rem;
      margin: 0.1rem;
      padding-top: 0.35rem;
      display: block;
      text-align: center;
      font-size: 1.25rem;
      border: 0.125rem solid #1c9246;
    }
  }

  &:nth-child(2n) .timeline-icon {
    background-color: lighten(#f4bf0f, 20%);
    border-color: #f4bf0f;

    i {
      border-color: #f4bf0f;
    }
  }

  &:nth-child(4n + 3) .timeline-icon {
    background-color: lighten(#5b1c92, 20%);
    border-color: #5b1c92;

    i {
      border-color: #5b1c92;
    }
  }

  &:nth-child(4n) .timeline-icon {
    background-color: lighten(#921509, 20%);
    border-color: #921509;

    i {
      border-color: #921509;
    }
  }

  &:nth-child(even) .timeline {
    margin-left: calc(50% + 0.625rem);
  }

  &::before {
    content: "";
    border-top: 0.625rem solid #921509;
    background-color: #1c9246;
    width: 1.25rem;
    height: 100%;
    position: absolute;
    right: calc(50% - 0.625rem);
  }

  &:nth-child(2n + 1) .title {
    color: #1c9246;
  }

  &:nth-child(2n) .title {
    color: #f4bf0f;
  }

  &:nth-child(2n)::before {
    border-top-color: #1c9246;
    background-color: #f4bf0f;
  }

  &:nth-child(4n + 3)::before {
    border-top-color: #f4bf0f;
    background-color: #5b1c92;
  }

  &:nth-child(4n + 3) .title {
    color: #5b1c92;
  }

  &:nth-child(4n)::before {
    border-top-color: #5b1c92;
    background-color: #921509;
  }

  &:nth-child(4n) .title {
    color: #921509;
  }

  &:first-child::before {
    border-top-color: #fff;
  }
}

@media (max-width: breakpoint-max('md', $grid-breakpoints)) {
  @import 'cv-media';
}

@media print {
  @import 'cv-media';
}
