<!DOCTYPE html>
<html lang="{{ lang }}">
{% include head.html %}
<body class="bg-body-secondary">
  <main>
    <div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5">
      <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
          <div class="modal-body p-5">
            {{ content }}
            <div class="container text-center mt-5">
              <div class="row d-flex align-items-end">
                {% for _link in page.about_links %}
                  <div class="col">
                    <a class="p-1 link-body-emphasis link-underline link-underline-opacity-0" href="{{ _link.url }}">
                      {% if _link.icon %}
                        <i class="bi-{{ _link.icon }}" style="font-size: xx-large;"></i>
                      {% elsif _link.svg and _link.view_box %}
                        <i class="bi-" style="font-size: xx-large;">
                          <svg style="vertical-align: -.125em"
                            xmlns="http://www.w3.org/2000/svg"
                            width="32" height="32"
                            viewBox="{{ _link.view_box }}">
                            <path fill="currentColor" d="{{ _link.svg }}" />
                          </svg>
                        </i>
                      {% else %}
                        Sorry, I don't know what to do here 😞
                      {% endif %}
                    </a>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  {% include footer.html %}
</body>
{% include script.html %}
</html>